---
layout: feature
title: GitLab Jira Integration
description: GitLab's Jira Integration features ensures developers in GitLab and project managers in Jira remain in tune.
canonical_path: "/solutions/jira/"
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---

.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 GitLab Jira Integration
        %h3#ci-subt Ensure developers in GitLab and project managers in Jira remain in tune
        %a.btn.cta-btn.btn-white{ href: "https://docs.gitlab.com/ee/integration/jira/", target: "_blank" } Documentation
  .sub-wrapper
    .container
      .row.advantages
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 First-class Jira integration
          %p.overview
            GitLab is a complete DevOps platform, delivered as a single application for everything from project planning and source code management to CI/CD, monitoring, and security.
            %a{href: "https://docs.gitlab.com/ee/user/project/issues/", target: "_blank"} GitLab issues
            is a powerful tool for idea management, iteration planning, issue
            tracking and software development.
          %p.overview
            However, we recognize that many organizations have been using Jira
            for many years and have existing data and business processes
            built into it. For some of these customers, this means it can be
            difficult and cost-prohibitive to move off of Jira.
            Core to our beliefs is that your people (and tools) work better
            when they're all in one place, so to serve these customers, we are
            building an excellent integration that makes GitLab work wonderfully
            alongside Jira.
          %p.overview
            If and when you are ready to migrate to GitLab issues, we also provide
            the tools and practices to help you with that.
          %p.overview
            See our current integration features and future plans below.
      %hr.divider/

      .row
        .hidden-xs.hidden-sm.col-md-4
          .ee-feature-icon
            = icon("checklist-icon")
        .col-xs-12.col-md-6.col-md-offset-1
          %h2  Integrate Jira with GitLab merge requests
          %p.overview
            If you want to continue using Jira, we have you covered. Here's a
            short list of what you can do when integrating GitLab with Jira.
          %ul
            %li One GitLab project integrates with all the Jira projects in a single Jira instance.
            %li Quickly navigate to Jira issues from GitLab.
            %li Detect and link to Jira issues from GitLab commits and merge requests.
            %li Log GitLab events in the associated Jira issue.
            %li Automatically close (transition) Jira issues with GitLab commits and merge requests.

            %li.documentation-link
              %a{href: "https://docs.gitlab.com/ee/integration/jira/", target: "_blank"} Learn more in our Jira integration docs
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Migrate from Jira to GitLab issues
          %p.overview
            Have you used GitLab issues before? We offer a lot of great
            functionality that is comparable to Jira or even better!
          %ul
            %li
              %b Issue Boards
              can be used in place of the Agile feature of Jira. If you use
              Scrum, GitLab Issue Boards will be a nice fit.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/issue_board.html", target: "_blank"} Learn more about Issue Boards
            %li
              %b Related issues
              are a bi-directional relationship between any two
              issues and appear in a block below the issue description. Issues
              can span groups and projects.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/issues/related_issues.html", target: "_blank"} Learn more about Related Issues
            %li
              %b Milestones
              allow you to organize issues and merge requests into a cohesive
              group, optionally setting a start and a due date. They are a
              valuable tool to track the development of the process of achieving
              a goal.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/milestones/", target: "_blank"} Learn more about Milestones
            %li
              %b Burndown Charts
              can be used to see the current state for the completion a given
              milestone in a clear and beautiful chart.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/milestones/burndown_charts.html", target: "_blank"} Learn more about Burndown Charts
            %li
              %b Due dates
              can be used in issues to keep track of deadlines and
              make sure features ship on time.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/milestones/burndown_charts.html", target: "_blank"} Learn more about Due dates
            %li
              %b Adding a weight to each issue
              provides a better idea of how much time, value or complexity a
              given issue has or will cost. This is particularly useful when
              a large number of issues makes it difficult to create an overview.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/issues/issue_weight.html", target: "_blank"} Learn more about Issue Weights
            %li
              %b Import Jira Issues CSV export into GitLab Issues
              to make it easier to migrate from Jira to GitLab.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/issues/csv_import.html#importing-issues-from-csv", target: "_blank"} Learn more about importing issues via CSV
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
      %hr.divider/

      .row
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/logo.png", class: "gitlab-raccoon-dog-image hidden-xs", alt: "Gitlab logo png"
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Upcoming features
          %p.overview
            We're constantly working on improving GitLab's integration with Jira.
            Here's a list of features we're considering implementing:

          %h3 Integration features
          %ul
            %li
              %b Mass-integration at a Group and Instance level:
              Empower organizations with thousands of projects to set up complex and sophisticated inheritance, providing all of those projects with correct settings from day one and beyond.
              %i
                %a{href: "https://gitlab.com/groups/gitlab-org/-/epics/2137", target: "_blank"} Subscribe to issue
            %li
              %b Jira transitions for non-default GitLab branches:
              Extend the functionality of the issue closing pattern on branches
              other than the default.
              %i
                %a{href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/2436", target: "_blank"} Subscribe to issue
          %h3 Import features
          %ul
            %li
              %b Programmatically import Jira project issues into GitLab project issues:
              switch from Jira to GitLab as your ticketing system via an automated importer.
              %i
                %a{href: "https://gitlab.com/groups/gitlab-org/-/epics/2738", target: "_blank"} Subscribe to issue

      %hr.divider.blank/
